
{% load static %}
  <nav class="navbar navbar-expand-lg navbar-dark trans-navigation fixed-top navbar-togglable">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <h3>Philanthropist</h3>
      </a>
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>

      <!-- Collapse -->
      <div class="collapse navbar-collapse has-dropdown" id="navbarCollapse">
        <!-- Links -->
        <div class="collapse navbar-collapse has-dropdown" id="navbarCollapse">
          <!-- Links -->
          <ul class="navbar-nav ">
            <li class="nav-item dropdown">
              <a href="!" class="navbar-link">


              </a>



            </li>
            <li class="nav-item ">
              <a href="{% url 'home' %}" class="nav-link js-scroll-trigger">
                Home
              </a>
            </li>


            <li class="nav-item ">
              <a href="#what" class="nav-link">
                About
              </a>
            </li>
            <li class="nav-item ">
              <a href="{% url 'contact' %}" class="nav-link">
                Contact
              </a>
            </li>
          </ul>


        </div> <!-- / .navbar-collapse -->
  </nav>
  </div> <!-- / .container -->
  </div>


  </div> <!-- / .navbar-collapse -->
  </div> <!-- / .container -->
  </nav>

      <div class="container">
        <a class="navbar-brand" href="index-3.html">
          <h3>Philanthropist</h3>
        </a>
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
        </button>
    
              <!-- Collapse -->
              <div class="collapse navbar-collapse has-dropdown" id="navbarCollapse">
                <!-- Links -->
                <div class="collapse navbar-collapse has-dropdown" id="navbarCollapse">
                  <!-- Links -->
                  <ul class="navbar-nav ">
                    <li class="nav-item dropdown">
                      <a href="!" class="navbar-link">
                      
          
                      </a>
          
                      
          
                    </li>
                    <li class="nav-item ">
                      <a href="index.html" class="nav-link js-scroll-trigger">
                        Home
                      </a>
                    </li>
        
        
                  <li class="nav-item ">
                    <a href="about.html" class="nav-link">
                      About
                    </a>
                  </li>
                  <li class="nav-item ">
                    <a href="contact.html" class="nav-link">
                      Contact
                    </a>
                  </li>
                </ul>
        
                <ul class="ml-lg-auto list-unstyled m-0">
                  <li>
                </ul>
              </div> <!-- / .navbar-collapse -->
            </nav>
          </div> <!-- / .container -->
        </div>
    
    
        </div> <!-- / .navbar-collapse -->
      </div> <!-- / .container -->
    </nav>